2 - Node Package Manager (NPM)/npm-demo/node_modules/
4 - Express- Advanced Topics/express-demo/node_modules/
6 - CRUD Operations Using Mongoose/mongo-demo/node_modules/
6 - CRUD Operations Using Mongoose/14- Exercise 1/7.14- Exercise/node_modules
7 - Mongo - Data Validation/mongo-demo/node_modules